h1, h2 {
  font-family: 'Libre Baskerville', serif;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000000;
  text-align: center;
  margin: 10px;
}

#title {
  /* put the title on over the picture */
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  font-size: 38px; 
  color: #FFFFFF;
  text-decoration: underline;
}

#name {
  color: #000000;
  font-size: 28px;
}

.blurb {
  max-width: 450px;
}

.about {
  display: flex;
  height: 100%;
  position: relative;
}

.jon-scenery {
  flex: 2;
  position: relative;
}

.bio-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 15px 10px;
  max-height: 950px;
}

.gear {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin: 50px;
}

.gear p {
  max-width: 1000px;
}

#my-gear {
  font-size: 36px;
  color: #000;
  margin: 20px;
}

.cameras {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 100px 30px;
}

/* Images */
#jon-img {
  width: 100%;
  height: 100%;
}

#portrait {
  width: 350px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 5px;
}

.cameras img {
  width: auto;
  height: 300px;
}