#description {
  margin: 60px;
}

h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  text-decoration: underline;
}

p {
  max-width: 450px;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
}

.gallery-container {
  margin: 30px auto;
  display: block;
  max-width: 90%;  
  padding: 0;   
}

.gallery-item {
  width: 32%; 
  margin-bottom: 10px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 2px 5px #00000033;
  transition: transform 0.3s ease;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.gallery-item img:hover {
  transform: scale(1.02);
}

.gallery-item img.loaded {
  opacity: 1;
  transform: translateY(0);
}