#description {
  margin: 30px;
}

h1 {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  text-decoration: underline;
}

p {
  max-width: 450px;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  text-align: center;
  margin: 0 auto;
}

.gallery-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  display: block;
  max-width: 1500px;  
  margin: 0 auto;    
}

.gallery-item {
  width: 32%; 
  margin-bottom: 10px;
  justify-content: space-around;
}

.gallery-item img {
  width: 100%; 
  height: auto;
  display: block;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
